
body {
    background: #fff;
    /* background-image: url("assets/Cloud-background.jpeg"); */
    font-family: "Forum";
    text-align: center;
    width: 80%;
    margin: auto;
}

#nav-bar {
    /* background-color: #fff; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#user-preferences {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#nav-bar h1 {
    /* display: inline-block; */
    width: 100%;
}

/* 
#settings {
    position: fixed;
    top: 0;
    right: 15%;
} */

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    border-radius: 20px;
    border: 1px dashed;
    margin: auto;
    margin-top: 1%;
    padding: 1%;
    background-color: antiquewhite;
}

.cards h3 {
    margin: 0%;
}

.cards h2 {
    margin: 0%;
}

.cards h1 {
    margin: 0%;

}

.cards p {
    margin: 0%;
}

.cards img {
    margin: 2%;
    align-self: center;
}

.cards button {
    float: inline-end;
    width: 2.5%;
    margin: 0%;
    border-radius: 20px;
    border: 1px solid gray; 
}

.cards table {
    width: 100%;
    margin-top: 2%;
}

#location-bar {
    width: 40%;
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    padding-bottom: 1%; 
    border-radius: 20px;
    border: 1px solid gray;
    padding: 0.5%;
    font-family: "Forum";

}

#select-temp-unit {
    font-family: "Forum";
    /* width: 10%; */
    border-radius: 20px;
    margin: 1%;
    /* margin: auto; */
    /* padding-bottom: 0px;  */
    border: 1px solid gray;
    /* padding: 0.5%; */
}

#locale-switcher {
    font-family: "Forum";
    /* width: 10%; */
    border-radius: 20px;
    margin: 1%;
    /* margin: auto; */
    /* padding-bottom: 0px;  */
    border: 1px solid gray;
    /* padding: 0.5%; */
}
